# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /pack-n/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pack-n/index.php [L]
</IfModule>

# END WordPress
